{% extends 'base.html' %}

{% block title %}
<h3>{{current_classe.nom}} - {{current_classe.cycle}} - Liste des élèves</h3>
<a class="btn btn-info" href="{% url 'gestion:add_eleve' %}">Ajouter élèves</a>
{% endblock %}
{% block content %}
<!-- <div class="row">
    <div class="col-xs-2">
		<select class="form-control" id="classe" name="classe_list" onChange="redirectUrl()">
			<option value="">Classe</option>
			{% for classe in classe_list %}
			<option {% if classe == current_classe %} selected="selected" {% endif %} value="{{classe.id}}">{{classe.nom}}</option>
			{% endfor %}
		</select>
	</div>
	&nbsp;
	<div class="col-xs-6">
		<a class="btn btn-info" href="{% url 'gestion:add_eleve' %}">Ajouter</a>
	</div>
</div> -->
<br/>
{% if eleve_list %}
{% include 'gestion/tables/eleve_table.html' %}
{% else %}
<p>Aucune donnée à afficher</p>
{% endif %}
<script>
function redirectUrl() {
    var classe_id = document.getElementById("classe").value;
    console.log("You selected: " + classe_id);
    window.location.href = "/gestion/eleve/" + classe_id
}
</script>
{% endblock %}

