{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <h3>Réinitialisation du mot de passe</h3>
    <form method="post">
      {% csrf_token %}
      <table>
      {% for field in form %}
        <tr>
          <th>{{field.label_tag}}</th>
          <td>{{field}}</td>
        </tr>
      {% endfor %}
    </table>
      <input class="btn btn-success btn-sm" type="submit" value="Réinitialiser le mot de passe" />
    </form>
  {% else %}
    <p>
      Le lien de réinitialisation du mot de passe est invalide, probablement parce qu'il a déjà été utilisé.
      Faites de nouveau la requête pour obtenir un lien de réinitialisation du mot de passe valide.
    </p>
  {% endif %}
{% endblock %}