{% extends 'base.html' %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'gestion:home' %}">Accueil</a></li>
			<li class="breadcrumb-item"><a href="{% url 'gestion:classe_list' %}">Liste des classes</a></li>
			<li class="breadcrumb-item">{{classe.nom}}</li>
		</ol>
	</nav>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<div class="card-header">Classe &nbsp;<a class="btn btn-primary" href="{% url 'gestion:update_classe' classe.id %}">Modifier</a></div>
			<div class="card-body">
				<div>
					<label>Nom classe :</label>
					<label class="bold-text">{{classe.nom}}</label>
				</div>
				<div>
					<label>Cycle :</label>
					<label class="bold-text">{{classe.cycle}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		{% if eleve_list %}
		<table class="table table-hover table-responsive">
			<caption class="caption-table">Elèves <a class="btn btn-outline-primary" href="{% url 'gestion:add_eleve' %}">Ajouter élève</a></caption>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for eleve in eleve_list %}
				<tr>
					<td>{{eleve.nom}}</td>
					<td>{{eleve.prenom}}</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-sm btn-primary" href="{% url 'gestion:eleve_detail' eleve.id %}">Détails</a>
							<a class="btn btn-sm btn-warning" href="{% url 'gestion:update_eleve' eleve.id %}">Modifier</a>
							<a class="btn btn-sm btn-danger" href="{% url 'gestion:delete_eleve' eleve.id %}">Supprimer</a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>Cette classe n'a aucun élève. <a href="{% url 'gestion:add_eleve' %}">Ajouter un élève</a></p>
		{% endif %}
	</div>
</div>
{% endblock %}
