{% extends 'base.html' %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'gestion:home' %}">Home</a></li>
			<li class="breadcrumb-item">Liste des classes</li>
		</ol>
	</nav>
{% endblock %}

{% block content %}
{% if classe_list %}
<table class="table table-hover table-responsive">
	<caption class="caption-table">Liste des classes   <a class="btn btn-outline-primary" href="{% url 'gestion:add_classe' %}">Ajouter classe</a></caption>
	<thead>
		<tr>
			<th>Nom</th>
			<th>Cycle</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for classe in classe_list %}
			<tr>
				<td>{{classe.nom}}</td>
				<td>{{classe.cycle}}</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-sm btn-primary" href="{% url 'gestion:classe_detail' classe.id %}">Consulter</a>
						<a class="btn btn-sm btn-warning" href="{% url 'gestion:update_classe' classe.id %}">Modifier</a>
						<a class="btn btn-sm btn-danger" href="{% url 'gestion:delete_classe' classe.id %}">Supprimer</a>
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>Aucune donnée à afficher</p>
{% endif %}
{% endblock %}
