{% extends 'base.html' %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'gestion:home' %}">Accueil</a></li>
			<li class="breadcrumb-item"><a href="{% url 'gestion:domaine_list' cycle=urlCycle %}">Liste des domaines - {{cycle}}</a></li>
			<li class="breadcrumb-item">Domaine - {{domaine.ref}}</li>
		</ol>
	</nav>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<div class="card-header">Domaine &nbsp;<a class="btn btn-primary" href="{% url 'gestion:update_domaine' cycle=urlCycle pk=domaine.id %}">Modifier</a></div>
			<div class="card-body">
				<div>
					<label>Ref :</label>
					<label class="bold-text">{{domaine.ref}}</label>
				</div>
				<div>
					<label>Description :</label>
					<label class="bold-text">{{domaine.description}}</label>
				</div>
				<div>
					<label>Cycle :</label>
					<label class="bold-text">{{domaine.cycle}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<table class="table table-hover table-responsive">
			<caption class="caption-table">Compétence du domaine {{domaine.ref}}   <a class="btn btn-outline-primary" href="{% url 'gestion:add_sous_domaine' cycle=urlCycle domaine_id=domaine.id  %}">Ajouter sous domaine</a>  <a class="btn btn-outline-primary" href="{% url 'gestion:add_competence' cycle=urlCycle domaine_id=domaine.id  %}">Ajouter compétence</a></caption>
			<thead>
				<tr>
					<th>Référence</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for c in domaine_CT_list %}
					<tr>
						<td>{{c.ref}}</td>
						<td>{{c.description}}</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-sm btn-warning" href="{% url 'gestion:update_domaine_ct' c.id %}">Modifier</a>
								<a class="btn btn-sm btn-danger" href="{% url 'gestion:delete_domaine_ct' c.id %}">Supprimer</a>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<h3>Vérification (à enlever)</h3>
<div class="row">
	<div class="col-sm-6">
		<h4>Liste sous-domaines</h4>
		<ul>
			{% for d in sous_domaines %}
			<li>{{d.ref}} {{d.description}}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-sm-6">
		<h4>Liste compétences</h4>
		<ul>
			{% for c in sous_competences %}
			<li>{{c.ref}} {{c.description}}</li>
			{% endfor %}
		</ul>
		<br/><hr/>

	</div>
</div>
{% endblock %}