{% extends 'base.html' %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'gestion:home' %}">Accueil</a></li>
			<li class="breadcrumb-item"><a href="{% url 'gestion:classe_list' %}">Liste des classes</a></li>
			<li class="breadcrumb-item"><a href="{% url 'gestion:classe_detail' classe.id %}">{{classe.nom}}</a></li>
			<li class="breadcrumb-item">{{eleve.nom}} {{eleve.prenom}}</li>
		</ol>
	</nav>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<div class="card-header">Eleve &nbsp;<a class="btn btn-primary" href="{% url 'gestion:update_eleve' eleve.id %}">Modifier</a></div>
			<div class="card-body">
				<div>
					<label>Nom :</label>
					<label class="bold-text">{{eleve.nom}}</label>
				</div>
				<div>
					<label>Prénom :</label>
					<label class="bold-text">{{eleve.prenom}}</label>
				</div>
				<div>
					<label>Classe :</label>
					<label class="bold-text">{{eleve.classe}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<h3>Résultats</h3>
	</div>
</div>
{% endblock %}